<div class="row">
    <div class="row">
        <div class="col-xs-12">
            <img [src]="activeRecipe.imgPath" alt="{{activeRecipe.name}}" class="img-responsive"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>{{activeRecipe.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="btn group" appDropdown>
                <button type="button" class="btn btn-primary dropdown-toggle">
                    Manage recipe <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a (click)="onAddToShopingCart()" style="cursor: pointer;">Add to shoping list</a></li>
                    <li><a href="#">Edit recipe</a></li>
                    <li><a href="#">Delete recipe</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{activeRecipe.description}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group">
                <li class="list-group-item"
                *ngFor = "let ingredient of activeRecipe.ingredients">
                    {{ingredient.name}} - {{ingredient.amount}}
                </li>
            </ul>
        </div>
    </div>
</div>