<div class="container" *ngIf="isTabActive">
    <div class="row">
        <div class="col-xs-14">
            <button class="btn btn-success">New Recipe</button>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <recipe-item 
                    *ngFor="let recipeEl of recipes"
                    [recipe]="recipeEl">
                    </recipe-item>
                </div>  
                <div class="col-md-5 col-md-offset-1">
                    <recipe-detail 
                    *ngIf="currentClickedRecipe; else infoText"
                    [activeRecipe]="currentClickedRecipe">
                    </recipe-detail>
                    <ng-template #infoText>
                        <p>Please select a recipe!</p>
                    </ng-template>
                </div>
            </div>
        </div>
        
    </div>
</div>

